html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", "Helvetica", sans-serif;
  color: #222;
  font-size: 13px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  overflow-y: auto;
}

/* Map styles. */ 
#map-holder {
  float:right;
  height: 100%;
  width: 75%;
}

#geojson-output {
  width: 100%;
  -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
  -moz-box-sizing: border-box; /* FF1+ */
  box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
  border: none;
  resize: none;
  background-color: #F1F1F1;
  display: block;
}

#download-link {
  position: absolute;
  top:10px;
  right:10px;
  z-index:100;
}

/*style the 'Geojson output' button*/
#geo-toggle{          
    position: absolute;
    top: 69px;
    right: 20px;
    z-index:100; 
}

/*delete paths button style*/
#deletepaths{
  position: absolute;
   top: 39px;
    right: 20px;
    z-index: 100;
}
/*dropdown menu*/
.vbRow {
    background-color: red;
    color: white;
    padding: 10px;
    font-size: 10px;
    border: none;
}
.badRow {
    background-color: orange;
    color: white;
    padding: 10px;
    font-size: 10px;
    border: none;
}
.normalRow {
    background-color: #000000;
    color: white;
    padding: 10px;
    font-size: 10px;
    border: none;
}
.goodRow {
    background-color: #004c00;
    color: white;
    padding: 10px;
    font-size: 10px;
    border: none;
}
.vgRow {
    background-color: #004c00;
    color: white;
    padding: 10px;
    font-size: 10px;
    border: none;
}
#dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.show {display:block;}

#left-column{
  float:left;
  height:100%;
  width:25%;
}
